.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    width: 72px;
    border-right-style: solid;
    border-right-color: rgb(224, 224, 224);
    border-right-width: 1px;
    background-color: white;
}